body {
  background-image: url(https://s0desu.github.io/image/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #666666;
}

a {
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
a:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}


.kage {
  box-shadow: 0px 2px 4px;
}

@media {
  .my-icon {
    border-radius: 50%;
    text-align: left;
    height: 275px;
    margin: 25px;

    box-shadow: 0px 3px 10px white;
    -webkit-filter: drop-shadow(0px 3px 10px white);
    filter: drop-shadow(0px 0px 10px white);
  }
  
  .sns-icon {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    text-align: left;
    margin: 10px;

    box-shadow: 0px 1px 3px white;
    -webkit-filter: drop-shadow(0px 1px 3px white);
    filter: drop-shadow(0px 0px 3px white);
  }
}

figure.side_image {
  display: inline-block;
}

.side_text {
  display: inline-block;
  width: 600px;
  margin-top: 5%;
  margin-left: 30px;
  vertical-align: top;
}

b1 {
  font-size: 75px;
  text-shadow: 2px  2px 5px red,
            -2px  2px 5px red,
             2px -2px 5px red,
            -2px -2px 5px red;
}

p {
  font-size: 35px;
  text-shadow: 2px  2px 5px red,
            -2px  2px 5px red,
             2px -2px 5px red,
            -2px -2px 5px red;
}
